[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/sparsehash-c11"]
	path = deps/sparsehash-c11
	url = https://github.com/sparsehash/sparsehash-c11.git
